<h1>Workorder#show</h1>
<% @workorders.each do |workorder| %>
<table
  <tr class="workorder">
    <td class="name"><%= workorder.technician.name %></td>
    <td class="name"><%= workorder.location.name %></td>
    <td class="name"><%= workorder.duration %></td>
    <td class="name"><%= workorder.price %></td>
  </tr>
  </table>
<% end %>

<% @technicians.each do |technician| %>
<table
  <tr class="technician">
    <td class="name"><%= technician.name %></td>
  </tr>
  </table>
<% end %>
